/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
}

 main {
    margin-left: 15%;
    margin-right: 15%;
    line-height: 25px;
 }

h1 {
    padding-top: 40px;
    text-align: center;
    color: #D9306E;
}

.introduzione {
    padding-top: 70px;
}

.container {
    padding-top: 35px;
    content: "";
    display: block;
    clear: both;
}

.profilo {
    background-color: #0F0E17;
    height: 100px;
    width: 30%;
    float: left;
    margin: 5px;
}

.avatar {
    float: left;
    height: 100%;
}

.informazioni {
    text-align: left;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 10px;
    float: left;
}

h2 {
    color: white;
    font-size: medium;
}

.professione {
    color: white;
}

.email {
    font-size: smaller;
    color: #12B9FB;
}