/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    text-align: center;
}

 main {
    margin-left: 15%;
    margin-right: 15%;
 }

h1 {
    padding-top: 40px;
    text-align: center;
}

.introduzione {
    padding-top: 70px;
}

.container {
    padding-top: 35px;
    content: "";
    display: block;
    clear: both;
}

.designer {
    background-color: #0F0E17;
    height: 100px;
    width: 25%;
    border: 2px solid magenta;
    float: left;
    margin: 5px;
}

.front-end-dev {
    background-color: #0F0E17;
    height: 100px;
    width: 25%;
    border: 2px solid magenta;
    float: left;
    margin: 5px;
}


.back-end-dev {
    background-color: #0F0E17;
    height: 100px;
    width: 25%;
    border: 2px solid magenta;
    float: left;
    margin: 5px;
}

.seo {
    background-color: #0F0E17;
    height: 100px;
    width: 25%;
    border: 2px solid magenta;
    float: left;
    margin: 5px;
}

.projct-manager {
    background-color: #0F0E17;
    height: 100px;
    width: 25%;
    border: 2px solid magenta;
    float: left;
    margin: 5px;
}

.analyst {
    background-color: #0F0E17;
    height: 100px;
    width: 25%;
    border: 2px solid magenta;
    float: left;
    margin: 5px;
}
